In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("https://raw.githubusercontent.com/mayank8200/Car-Price-Prediction/master/car_data.csv")

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
name             4340 non-null object
year             4340 non-null int64
selling_price    4340 non-null int64
km_driven        4340 non-null int64
fuel             4340 non-null object
seller_type      4340 non-null object
transmission     4340 non-null object
owner            4340 non-null object
dtypes: int64(3), object(5)
memory usage: 271.3+ KB

In [4]:
dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [5]:
X=dataset.iloc[:,[1,3,4,6]].values
y=dataset.iloc[:,2].values

In [6]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
X[:,2]=lb.fit_transform(X[:,2])
lb1=LabelEncoder()
X[:,3]=lb1.fit_transform(X[:,3])

In [7]:
print(X.shape)

(4340, 4)

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid={'n_estimators':[200,300]}
rf=RandomForestRegressor().fit(X,y)
gridlog=GridSearchCV(rf,param_grid,cv=3)


gridlog.fit(X_train,y_train)
print(gridlog.best_params_)

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

{'n_estimators': 200}

In [13]:
accuracy=gridlog.score(X_test,y_test)
print(accuracy*100,'%')

75.50332962991388 %

In [15]:
y_pred=gridlog.predict(X_test)

In [16]:
dataset["transmission"].value_counts()

Manual       3892
Automatic     448
Name: transmission, dtype: int64

In [17]:
new_data=[2017,7000,"Petrol","Manual"]
new_data[2]=lb.transform([new_data[2]])[0]
new_data[3]=lb1.transform([new_data[3]])[0]
print(new_data)
gridlog.predict([new_data])

[2017, 7000, 4, 1]

array([642253.33333333])